<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome to the Talent Pool and Job Matching Platform</h1>
    <div class="container">
        <a href="/register_candidate" class="back-button">Register as Candidate</a>
        <a href="/register_dealer" class="back-button">Register as Dealer</a>
        <a href="/post_job" class="back-button">Post a Job</a>
        <a href="/job_listings" class="back-button">View Job Listings</a>
        <a href="/sign_up_candidate" class="back-button">Sign Up</a>
        <a href="/forgot_password_candidate" class="back-button">Forgot Password</a>
        <a href="/admin" class="back-button">Admin Login</a>
    </div>
</body>
</html>
