<!DOCTYPE html>
<html>
<head>
    <title>Job Listings</title>
</head>
<body>
    <h2>Job Listings</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Department</th>
                <th>Location</th>
                <th>Experience Level</th>
                <th>Dealership</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job[1] }}</td>
                <td>{{ job[2] }}</td>
                <td>{{ job[3] }}</td>
                <td>{{ job[4] }}</td>
                <td>{{ job[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
